@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400..900;1,400..900&display=swap');

.cuerpo {
  width: 100%;
  height: 100vh;
  display: flex;
  top: 0;
  right: 0;
  position: absolute;
  margin: 0px;
  float: left;
  font-family: "Kufam", sans-serif;
  background-color: #240433;
  color: white;
}

a {
  text-decoration: none;
}

.sidemenu {
  width: 27%;
  background-color: #4b1672;
  height: 100vh;
  left: 0;
  position: absolute;
}

.top {
  width: 73%;
  background-color: #240433;
  height: 18%;
  right: 0;
  position: absolute;
}

.nivel {
  width: 73%;
  background-color: #240433;
  height: 65%;
  right: 0;
  position: absolute;
  bottom: 0;
  margin-bottom: 8%;
}

.footer {
  height: 18%;
  width: 73%;
  background-color: #240433;
  bottom: 0;
  right: 0;
  position: absolute;
}

.opc1 {
  width: 15vw;
  height: 15vw;
  background-color: #4B1572;
  border-radius: 2vw;
  margin-left: 12vw;
  float: left;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.9);
  margin-top: 6vw;
}

.opc2 {
  width: 15vw;
  height: 15vw;
  background-color: #4B1572;
  border-radius: 2vw;
  margin-left: 2vw;
  float: left;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.9);
  margin-top: 6vw;
}

.opc3 {
  width: 15vw;
  height: 15vw;
  background-color: #4B1572;
  border-radius: 2vw;
  margin-left: 2vw;
  float: left;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.9);
  margin-top: 6vw;
}

.sombrita {
  height: 2.4vw;
  width: 12.3vw;
  background: radial-gradient(ellipse at center, rgba(156, 81, 183, 1) 20%, rgba(156, 81, 183, 0) 100%);
  opacity: 20%;
  border-radius: 1vw;
  margin-top: 2vw;
  margin-left: 1.4vw;
  float: left;
}

.sombritatype1 {
  height: .9vw;
  width: 40.3vw;
  background: radial-gradient(ellipse at center, rgba(156, 81, 183, 1) 20%, rgba(156, 81, 183, 0) 100%);
  opacity: 20%;
  border-radius: 1vw;
  margin-top: 1vw;
  margin-left: 3.9vw;
  float: left;
}

.pregunta {
  color: white;
  text-align: center;
  font-size: 2vw;
  margin-top: 2vw;
}

.rta {
  text-align: center;
  margin-top: 6.5vw;
  color: white;
  font-size: 2.3vw;
}

.anterior {
  float: left;
  width: 13.7vw;
  height: 3.7vw;
  margin-left: 12vw;
  text-align: center;
  background-color: #4B1572;
  border-radius: 5vw;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.9);
  margin-top: 2vh;
}

.anterior h2 {
  margin-top: 0.9vw;
  color: white;
}

.continuar {
  float: right;
  width: 13.7vw;
  height: 3.7vw;
  margin-right: 11.5vw;
  text-align: center;
  background-color: #4B1572;
  border-radius: 5vw;
  box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.9);
  margin-top: 2vh;
}

.continuar h2 {
  margin-top: 0.9vw;
  color: white;
}

.sidemenu a {
  text-decoration: none;
  color: white;
  width: 19vw;
  display: grid;
  justify-items: start;
  margin-top: 3vw;
  margin-left: 8vw;
  font-size: 2vw;
}

h1 {
  font-size: 3vw;
  text-align: center;
  margin-top: 3vw;
  color: white;
}

.flecha {
  margin-top: 2.5vw;
  margin-left: 3.5vw;
}

.opc1-type1 {
  background-color: #4B1572;
  height: 12.7vh;
  float: left;
  width: 48vw;
  margin-left: 12.1vw;
  margin-top: 4.6vh;
  border-radius: 2.5vw;
}

.opc2-type1 {
  background-color: #4B1572;
  height: 12.7vh;
  float: left;
  width: 48vw;
  margin-left: 12.1vw;
  margin-top: 4.6vh;
  border-radius: 2.5vw;
}

.opc3-type1 {
  background-color: #4B1572;
  height: 12.7vh;
  float: left;
  width: 48vw;
  margin-left: 12.1vw;
  margin-top: 4.6vh;
  border-radius: 2.5vw;
}

.rta-type1 {
  text-align: center;
  margin-top: 1.9vw;
  color: white;
  font-size: 1.8vw;
}

.rta-type2 {
  text-align: center;
  margin-top: 1.9vw;
  color: white;
  font-size: 1.8vw;
}

.rta-type3 {
  text-align: center;
  margin-top: 1.9vw;
  color: white;
  font-size: 1.8vw;
}

.barrafija {
  width: 49vw;
  background-color: #4B1572;
  height: 4vh;
  float: right;
  margin-top: 7vh;
  margin-right: 11vw;
  border-radius: 1vw;
}

.progreso {
  width: 20%;
  float: left;
  background-color: #3F9557;
  height: 100%;
  border-radius: 1vw;
  transition: width 0.5s ease;
}

.estrellas {
  position: absolute;
  margin-top: -81vh;
  right: 0;
}

.estrellas h1 {
  margin-top: 5vh;
  margin-right: 6vw;
}

.estrellas .star {
  position: absolute;
  width: 4vw;
  right: 0;
  top: 0;
  margin-top: 1.6vw;
  margin-right: 1.5vw;
}

.victoria {
  background-color: #240433;
  width: 100%;
}

.cuadro {
  background-color: #9353C0;
  margin-top: 30vh;
  height: 50vh;
  margin-left: 39vw;
  width: 51vw;
  border-radius: 2vw;
}

.cuadro h1 {
  text-align: center;
  padding-top: 10vh;
}

.cuadro h2 {
  text-align: center;
  padding-top: 1vh;
  font-size: 2.5vw;
  color: white;
}

.cuadro img {
  width: 5vw;
  margin-left: 45%;
  margin-top: -2vh;
}

.nvl1 {
  width: 17vw;
  left: 0;
  height: 30vh;
  position: absolute;
  margin-left: 35vw;
  margin-top: 15vh;
  text-align: center;
}

.box1 {
  background-color: #9353C0;
  height: 20vh;
  border-radius: 1.6vw;
}

.nvl1 img {
  width: 5vw;
}

.box1 h1 {
  padding-top: 6.5vh;
  margin-top: 2.5vh;
}

.sidemenu div img {
  width: 3.6vw; 
  float: left;
  margin-left: 3vw;
  margin-top: -2vh;
}

.nvl2 {
  width: 17vw;
  left: 0;
  height: 30vh;
  position: absolute;
  margin-left: 75vw;
  margin-top: 15vh;
  text-align: center;
}

.box2 {
  background-color: #9353C0;
  height: 20vh;
  border-radius: 1.6vw;
}

.nvl2 img {
  width: 5vw;
}

.box2 h1 {
  padding-top: 6.5vh;
  margin-top: 2.5vh;
}

.nvl3 {
  width: 17vw;
  left: 0;
  height: 30vh;
  position: absolute;
  margin-left: 55vw;
  margin-top: 50vh;
  text-align: center;
}

.box3 {
  background-color: #9353C0;
  height: 20vh;
  border-radius: 1.6vw;
}

.nvl3 img {
  width: 5vw;
}

.box3 h1 {
  padding-top: 6.5vh;
  margin-top: 2.5vh;
}

.login {
  text-align: center;
  left: 0;
  margin-left: 39%;
  font-size: 5vw;
  margin-top: 10vh;
}

.forms {
  width: 50vw;
  text-align: center;
  float: left;
  top: 0;
  position: absolute;
  margin-left: 25vw;
  margin-top: 24vh;
}

.forms input {
  font-size: 2.4vw;
  border-radius: 2vw;
  margin-top: 0.5vw;
  background-color: #4B1572;  
  border-width: 0 !important;
  width: 100%;
  padding-left: 1.3vw;
  color: white;
  font-family: "Kufam", sans-serif;
  height: 8vh;
  padding-top: 1vh;
}

.forms button {
  font-size: 2.8vw;
  border-radius: 2vw;
  margin-top: 3vw;
  background-color: #4B1572;
  border-width: 0 !important;
  color: white;
  font-family: "Kufam", sans-serif;
  width: 23vw;
  height: 10vh;
  padding-top: 1.8vh;
}

.forms label {
  font-size: 3vw;
  float: left;
  margin-left: 1vw;
  margin-top: 2vw;
}

.registrate {
  bottom: 4vh;
  position: absolute;
  margin-left: 40vw;
}

.registratehere {
  bottom: 4vh;
  position: absolute;
  margin-left: 39vw;
}

.enviar {
  font-size: 2.4vw;
  border-radius: 2vw;
  margin-top: 2.5vw;
  background-color: #4B1572;  
  border-width: 0 !important;
  width: 15%;
  padding-left: .3vw;
  color: white;
  font-family: "Kufam", sans-serif;
  height: 8vh;
  padding-top: 1vh;
  margin-left: 42.5%;
}

.escribir {
  font-size: 2.4vw;
  border-radius: 2vw;
  margin-top: 4.5vw;
  background-color: #4B1572;  
  border-width: 0 !important;
  width: 70%;
  padding-left: 1.3vw;
  color: white;
  font-family: "Kufam", sans-serif;
  height: 8vh;
  padding-top: 1vh;
  margin-left: 15%;
}

.imageSmall {
  width: 5vw; /* Ancho de las imágenes 'none' y 'star.png' */
}

.imageMedium {
  width: 10.5vw !important; /* Ancho de las imágenes 'dos.png' y 'tres.png' */
}

.imageLarge {
  width: 17.1vw !important; /* Ancho de las imágenes 'dos.png' y 'tres.png' */
}

.contenedorimagen {
  width: 50vw;
  height: 100vh;
  float: left;
}

.landingimg {
  width: 30vw;
  margin-left: 15vw;
  margin-top: 20vh;
}

.contenedortexto {
  width: 50vw;
  height: 100vh;
  float: right;
}

.tit {
  float: left;
  margin-top: 20vh;
  font-size: 6vw;
  margin-bottom: 0;
}

.subtit {
  float: left;
  font-size: 3vw;
  margin-top: 0;
}

.entrar {
  background-color: #4B1572;
  border-radius: 3vw;
  width: 23vw;
  float: left;
  height: 18vh;
  color: white;
  font-size: 3vw;
  font-family: "Kufam", sans-serif;
  border: none;
  padding-top: 1.5vh;
  margin-left: -1vw;
}